<div class="row">
  <div class="col-md-10 col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">Payment History</div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-hover" st-pipe="callServer" st-table="displayed">
            <thead>
              <tr>
                <th>ID</th>
                <th>Training Topic</th>
                <th>Attend Date</th>
                <th>Total Time</th>
                <th>Status</th>
                <th>Amount</th>
                <th>Trainer Name</th>
                <th></th>
              </tr>
            </thead>
            <tbody ng-show="!isLoading" *ngFor="let training of trainingSchedule">
              <tr  *ngIf="training.trainer.id==1">
              
                <td>{{training.id}}</td>
                <td>{{training.trainingTopic}}</td>
                <td>{{training.date | date:"dd:MM:yyyy"}}</td>
                <td>{{training.totalCoveredhours}}</td>
                <td>{{training.status}}</td>
                <td>{{training.amounToPaid}}</td>
                <td>{{training.trainer.name}}</td>
                <td *ngIf="training.status=='DEPOSITED'">
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirm" (click)="getId(training)">Conform</button>
                </td>
            
              </tr>
            </tbody>


          </table>
        </div>
        <!-- /.table-responsive -->
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
  </div>
</div>

<div class="modal fade" id="confirm" role="dialog">
    <div class="modal-content">
        <div class="col-md-4 col-md-offset-4">
                <div class="alert alert-danger" role="alert">
                        <span class="glyphicon glyphicon-remove"></span> Conform this Payment
                    <button type="button" class="btn btn-warning pull-right " data-dismiss="modal">No</button>
                        <button type="button" class="btn btn-danger pull-right" data-dismiss="modal" (click)="paymentCompleted()">Yes</button>
                    </div>
        </div>       
    </div>
</div>


